<div class="header-main">
  <div class="container">
    <button class="btn btn-md hamburger" (click)="openSideNav()" style="width: 30px; height: 30px; border-radius: 100%;">
      <i class="bi bi-list"></i>
      <!--       <i class="fi fi-rr-menu-burger"></i> -->
    </button>
    <div class="logo" (mouseenter)="startCrawl()" (mouseleave)="stopCrawl()">
      <a href="/" class="anchor-reset">
        <img src="../../../assets/favicon{{ logoId }}.png" class="logo-img" alt="logo" />
        <span>cipherbay</span>
      </a>
    </div>

    <button class="btn py-4 border border-accent bg-black text-small" (click)="onLoginClick()" *ngIf="!currentUser; else loggedInTemplate">
      <i class="bi-person mr-4"></i>
      login
    </button>
    <ng-template #loggedInTemplate>
       <div class="dropdown" placement="bottom right" dropdown>
            <span aria-haspopup="true" aria-controls="dropdown-menu" dropdownToggle>
              <button class=" d-flex align-items-center btn bg-black-sec btn-md text-small text-lowercase" style="border-radius: 16px;">
                <i class="bi bi-person mr-4"></i>
                {{currentUser.firstName}}
                <i class="bi bi-caret-down-fill text-small ml-8 mt-4 text-secondary"></i>
              </button>
            </span>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right px-10" role="menu" aria-labelledby="button-menu-dividers" (click)="$event.stopPropagation()">
              <p class="my-10 text-small text-slate">Hi, {{currentUser.firstName}} {{currentUser.lastName}}</p>
              <li class="dropdown-divider"></li>
                <li class="d-flex justify-content-center">
                  <a class="text-danger btn btn-sm bg-black-sec border-danger on-hover-bg" (click)="onLogout()">
                    <i class="bi bi-box-arrow-in-right mr-4"></i>
                    logout
                  </a>
                </li>
            </ul>
        </div>
    </ng-template>

    <!-- <div class="dropdown" placement="bottom right" dropdown>
      <button class="btn btn-sm px-12" aria-label="Main Menu" aria-haspopup="true" aria-controls="dropdown-menu" dropdownToggle>
        <fa-icon class="icon-lg" [icon]="caretDown"></fa-icon>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" style="width: 200px; font-size: smaller;" role="menu"
        aria-labelledby="button-menu-dividers">
        <li class="dropdown-item">
          <a class="anchor-reset" href="https://github.com/SyedAli310/cipherbay-frontend-angular" target="_blank">github
            repo <i class="fi fi-rr-paper-plane"></i></a>
        </li>
        <li class="dropdown-item">
          <a class="anchor-reset" href="https://github.com/SyedAli310/cipher-bay-api" target="_blank">API github repo <i
              class="fi fi-rr-paper-plane"></i></a>
        </li>
        <li class="dropdown-item">
          <a class="anchor-reset" routerLink="/legacy" target="_blank">
            visit legacy view <i class="fi fi-rr-paper-plane"></i>
          </a>
        </li>
        <li class="dropdown-item">
          <a class="anchor-reset" routerLink="/admin" target="_blank">admin panel <i class="fi fi-rr-paper-plane"></i>
          </a>
        </li>
        <li class="divider dropdown-divider mb-0"></li>
        <div class="header-dropdown-btns">
          <button class="btn btn-md" (click)="onLoginClick()">
            login / join
          </button>
        </div>
      </ul>
    </div> -->
  </div>
</div>

<app-side-navbar [isSidebarOpen]="isSidebarOpen" (closeSidebarEvent)="closeSideNav()"></app-side-navbar>