<div
  class="login-popup-wrapper fix-full-screen"
  [class.open]="isOpen"
  (click)="close($event)"
>
  <div class="login-popup">
    <div class="popup-title">
      <div
        class="tab login-tab"
        #login_tab
        [attr.data-tab]="'login'"
        [class.active]="currentViewedTab === 'login'"
        (click)="activateTab(login_tab)"
      >
        <i class="fi fi-rr-sign-in-alt"></i> login
      </div>
      <div
        class="tab join-tab"
        #join_tab
        [attr.data-tab]="'join'"
        [class.active]="currentViewedTab === 'join'"
        (click)="activateTab(join_tab)"
      >
        <i class="fi fi-rr-user-add"></i> join
      </div>
    </div>
    <div class="tab-view-wrap" [attr.data-viewed]="currentViewedTab">
      <div
        class="tab-view login-view"
        [class.active]="currentViewedTab === 'login'"
      >
        <div class="dev-msg">
          <small><i>coming soon (login)</i></small>
        </div>
      </div>
      <div
        class="tab-view join-view"
        [class.active]="currentViewedTab === 'join'"
      >
        <div class="dev-msg">
          <small><i>coming soon (join)</i></small>
        </div>
      </div>
    </div>
  </div>
</div>
