<div
  class="nav-wrapper"
  [class.open]="isSidebarOpen"
  (click)="onOutClick($event)"
>
  <nav class="navbar navbar-side" role="navigation">
    <div class="nav-title">
      <button class="btn btn-sm nav-close" (click)="closeSidebar()">
        <fa-icon class="icon-lg" [icon]="faTimes"></fa-icon>
      </button>
      <div class="logo">
        <a href="/" class="anchor-reset">
          <img
            src="../../../assets/favicon.png"
            class="logo-img"
            alt="cipherbay"
          />
          <span>cipherbay</span>
        </a>
      </div>
    </div>
    <div class="nav-content">
      <ul class="nav-links">
        <li class="nav-link">
          <a
            routerLink="/home"
            routerLinkActive="activePage"
            class="anchor-reset"
          >
            <fa-icon class="icon-lg" [icon]="faHome"></fa-icon>
            <span>home</span>
          </a>
        </li>
        <li class="nav-link">
          <a
            routerLink="/convert"
            routerLinkActive="activePage"
            class="anchor-reset"
          >
            <fa-icon class="icon-lg" [icon]="faCode"></fa-icon>
            <span>convert</span>
          </a>
        </li>
        <li class="nav-link">
          <a
            routerLink="/explore"
            routerLinkActive="activePage"
            class="anchor-reset"
          >
            <fa-icon class="icon-lg" [icon]="faCompass"></fa-icon>

            <span>explore</span>
          </a>
        </li>
        <li class="nav-link">
          <a
            routerLink="/docs"
            routerLinkActive="activePage"
            class="anchor-reset"
          >
            <fa-icon class="icon-lg" [icon]="faFileAlt"></fa-icon>

            <span>docs</span>
          </a>
        </li>
        <li class="nav-link">
          <a
            routerLink="/about"
            routerLinkActive="activePage"
            class="anchor-reset"
          >
            <fa-icon class="icon-lg" [icon]="faInfoCircle"></fa-icon>

            <span>about</span>
          </a>
        </li>
        <li class="nav-link">
          <a
            routerLink="/feedback"
            routerLinkActive="activePage"
            class="anchor-reset"
          >
            <fa-icon class="icon-lg" [icon]="faCommentDots"></fa-icon>

            <span>feedback</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
