<div class="nav-wrapper" [class.open]="isSidebarOpen">
  <nav class="navbar navbar-side" role="navigation">
    <div class="nav-title">
      <button class="btn btn-sm nav-close" (click)="closeSidebar()">
        <ion-icon name="close-outline"></ion-icon>
      </button>
      <div class="logo">
        <img
          src="../../../assets/favicon.png"
          class="logo-img"
          alt="cipherbay"
        />
      </div>
    </div>
    <div class="nav-content">
      <ul class="nav-links">
        <li class="nav-link">
          <a href="#" class="anchor-reset">
            <ion-icon name="home-outline"></ion-icon>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#" class="anchor-reset">
            <ion-icon name="home-outline"></ion-icon>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#" class="anchor-reset">
            <ion-icon name="home-outline"></ion-icon>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#" class="anchor-reset">
            <ion-icon name="home-outline"></ion-icon>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#" class="anchor-reset">
            <ion-icon name="home-outline"></ion-icon>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#" class="anchor-reset">
            <ion-icon name="home-outline"></ion-icon>
            <span>Home</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
