<div class="nav-wrapper" [class.open]="isSidebarOpen">
  <nav class="navbar navbar-side" role="navigation">
    <div class="nav-title">
      <button class="btn btn-sm nav-close" (click)="closeSidebar()">
        <ion-icon name="close-outline"></ion-icon>
      </button>
      <div class="logo">
        <a href="/" class="anchor-reset">
          <img
            src="../../../assets/favicon.png"
            class="logo-img"
            alt="cipherbay"
          />
          <span>cipherbay</span>
        </a>
      </div>
    </div>
    <div class="nav-content">
      <ul class="nav-links">
        <li class="nav-link">
          <a href="#" class="anchor-reset">
            <ion-icon name="home-outline"></ion-icon>
            <span>home</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#" class="anchor-reset">
            <ion-icon name="repeat-outline"></ion-icon>
            <span>convert</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#" class="anchor-reset">
            <ion-icon name="compass-outline"></ion-icon>
            <span>explore</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#" class="anchor-reset">
            <ion-icon name="documents-outline"></ion-icon>
            <span>docs</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#" class="anchor-reset">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>about</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#" class="anchor-reset">
            <ion-icon name="mail-outline"></ion-icon>
            <span>feedback</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
