@import './colors';

a{
     text-decoration: none;
     color: unset;
}
a:hover {
    color: unset;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

::selection{
  @extend .bg-accent;
  @extend .text-black;
}

input{
accent-color: $accent;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-all {
  pointer-events: all;
}

.text-small {
  font-size: small !important;
}

.text-x-small {
  font-size: x-small !important;
}

.text-xx-small {
  font-size: xx-small !important;
}

.text-large {
  font-size: large !important;
}

.text-x-large {
  font-size: x-large !important;
}

.text-xx-large {
  font-size: xx-large !important;
}

.flex-grow-1 {
 flex-grow: 1;
}

.list-style-none {
  list-style: none;
}

.on-hover-bg:hover{
  @extend .bg-secondary;
}

.on-hover-text:hover {
 @extend .text-accent;
}

.on-hover-underline:hover {
  text-decoration: underline !important;
}

.cursor-pointer {
  cursor: pointer;
}

  // rouned corners
  .rounded-4 {
    border-radius: 4px;
  }
  .rounded-8 {
    border-radius: 8px;
  }
  .rounded-10 {
    border-radius: 10px;
  }
  .rounded-16 {
    border-radius: 16px;
  }
  // rouned corners end

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $MAIN__BG__COLOR !important;
  position: relative !important;
  height: auto !important;
  overflow-x: hidden !important;
}

::selection {
  background-color: $MAIN__ACCENT__COLOR;
  color: $WHITE__COLOR;
}
/* width */
*::-webkit-scrollbar {
  width: 8px;
}
/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background-color: $SECONDARY__GREY__COLOR;
  transition: all ease 0.3s;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: $MAIN__ACCENT__COLOR;
}

i.fi{
  height: 15px;
  pointer-events: none;
}

fa-icon {
  pointer-events: none;
}

.d-none {
  display: none !important;
}

// general/reusable styles
.container {
  max-width: 80vw;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 90vw !important;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 95vw !important;
  }
}

.logo {
  // width: 100%;
  height: max-content;
  width: 125px;
  max-width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  & a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $WHITE__COLOR;
    font-weight: bold;
  }
}

.logo-img {
  width: 25px;
  height: auto;
  aspect-ratio: 1/1;
  transition: all ease 300ms;
}

.logo-img:hover {
  transform: scale(1.5);
  margin-right: 0.5rem;
}

.btn {
  position: relative;
  background-color: $SECONDARY__GREY__COLOR;
  padding: 0.5rem 1rem;
  color: $WHITE__COLOR;
  border: 1px solid $SECONDARY__GREY__COLOR;
  /* border: none; */
  border-radius: 5px;
  font-size: larger;
  cursor: pointer;
  transition: all ease 300ms;
}
.btn.btn-sm {
  padding: 0.125rem 0.5rem;
  font-size: smaller;
}
.btn.btn-md {
  padding: 0.25rem 0.725rem;
  font-size: medium;
}
.btn:hover {
  border: 1px solid $WHITE__COLOR;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.btn:active {
  transform: translateY(2.5px);
}

.anchor-reset {
  text-decoration: none !important;
  color: inherit;
}

.ul-reset{
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-lg {
  font-size: large;
  width: 1.75rem;
}

// form styles
.input-div {
  position: relative;
  width: 100%;
  margin: 0;
  border-radius: 8px;
  border: 1.5px solid $WHITE__COLOR;
  padding: 0 1rem;
  background-color: $MAIN__BG__COLOR;
  color: $WHITE__COLOR;
  transition: all ease 300ms;
}
.input-div legend {
  padding: 0 0.5rem;
  text-transform: uppercase;
  color: $MAIN__ACCENT__COLOR;
}
.input-div:focus-within {
  border: 1.5px solid $MAIN__ACCENT__COLOR;
}

.input-div input {
  width: 100%;
  padding-block: 0.5rem;
  font-size: larger;
  border: none;
  color: $WHITE__COLOR;
  background: transparent;
  transition: all ease 300ms;
}
.input-div input:focus {
  outline: none;
}

// form styles end


// fixed full screen styles
.fix-full-screen{
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.569);
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar{
    display: none;
  }
}
// end of fixed full screen styles

.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.5);
  z-index: 2;
  & fa-icon {
    font-size: xx-large;
    transform-origin: 50% 50%;
    animation: spin 1s infinite linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
.selects {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 2rem 0;
  color: $MAIN__ACCENT__COLOR;
  & .scheme-selection-div,
  & .conversion-selection-div {
    flex-grow: 0;
    flex-shrink: 1;
  }
  & .scheme-selection-div h2,
  & .conversion-selection-div h2 {
    text-align: start;
    margin-bottom: 1rem;
  }
  & .conversion-select-btns,
  & .scheme-select-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  & .scheme-selection-div .info-modal-btn {
    background: transparent;
  }
  & .scheme-selection-div .schemes-modal-btn.blocked {
    opacity: 0.25;
    user-select: none;
  }
  & .scheme-selection-div .schemes-modal-btn.blocked {
    cursor: not-allowed;
  }
  & .scheme-selection-div .schemes-modal-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    & small{
      color: $SUCCESS__COLOR;
    }
  }
  & .scheme-selection-div .schemes-modal-btn.blocked:hover {
    color: $ERROR__COLOR;
    filter: none;
    outline: 1px solid $ERROR__COLOR;
  }

  & .scheme-select-btn:focus-visible,
  & .schemes-modal-btn:focus-visible,
  & .conversion-select-btn:focus-visible {
    outline: 1.5px solid cyan;
    outline-offset: 2px;
  }
  & .scheme-select-btn.selected,
  & .conversion-select-btn.selected {
    position: relative;
    color: $SUCCESS__COLOR;
    border: 1px solid $SUCCESS__COLOR !important;
    overflow: hidden;
    transition: all ease 300ms;
  }
  & .scheme-select-btn.selected::before,
  & .conversion-select-btn.selected::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: $SUCCESS__COLOR;
    /* box-shadow: 1px 1px 6px $SUCCESS__COLOR; */
    overflow: hidden;
    transition: all ease 300ms;
  }
}

#main-form {
  position: sticky;
  top: 64px;
  width: 100%;
  //   height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $WHITE__COLOR;
  background-color: $MAIN__BG__COLOR;
  /* border-radius: 8px; */
  padding: 1rem 0;
  transition: all ease 300ms;
  z-index: 10;
}
#main-form::after,
#main-form::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: $MAIN__BG__COLOR;
  transition: all ease 300ms;
}
#main-form::before {
  top: 0;
  left: 0;
}
#main-form::after {
  top: 0;
  right: 0;
}
#main-form .input-div {
  position: relative;
  width: 100%;
  margin: 0;
  border-radius: 8px;
  border: 1.5px solid $WHITE__COLOR;
  padding: 0 1rem;
  background-color: $MAIN__BG__COLOR;
  color: $WHITE__COLOR;
  transition: all ease 300ms;
}
#main-form .input-div legend {
  padding: 0 0.5rem;
  text-transform: uppercase;
  color: $MAIN__ACCENT__COLOR;
}
#main-form .input-div:focus-within {
  border: 1.5px solid $MAIN__ACCENT__COLOR;
}
.spaced::-webkit-input-placeholder {
  letter-spacing: 1.25px;
  transform: translateX(10px);
}
@keyframes flip-flop {
  0% {
    transform: skew(0deg);
  }
  25% {
    transform: skew(70deg);
  }
  50% {
    transform: skew(0deg);
  }
  75% {
    transform: skew(-70deg);
  }
  100% {
    transform: skew(0deg);
  }
}
#input-text {
  width: 100%;
  padding: 1rem 3rem 1rem 0.5rem;
  font-size: 20px;
  border: none;
  color: $WHITE__COLOR;
  background: transparent;
  transition: all ease 300ms;
}
#input-text::placeholder {
  transition: all ease 300ms;
}

#input-text:focus-visible {
  outline: none;
}
#input-text:focus-visible::placeholder {
  color: rosybrown;
}

#main-form .input-div button[type="submit"] {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-65%);
  display: flex;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.25rem;
  border-radius: 100%;
  color: $WHITE__COLOR;
  outline: 1.5px solid $WHITE__COLOR;
  background: transparent;
  border: none;
  font-size: x-large;
  cursor: pointer;
  transition: all ease 300ms;
}
#main-form .input-div button:hover,
#main-form .input-div button:focus,
#main-form .input-div button:focus-visible {
  outline: 1.5px solid $SUCCESS__COLOR;
  color: $SUCCESS__COLOR;
}

#output {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $WHITE__COLOR;
  padding: 1rem;
  margin-top: 2rem;
  border: 1.5px solid $SUCCESS__COLOR;
  border-radius: 8px;
  transition: all ease 300ms;
}
.output-reset-btn{
  position: absolute !important;
  right: 1rem;
  top: 0.25rem;
  &.success::before{
    content: '\2713';
    position: absolute;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    color: $SUCCESS__COLOR;
  }
}
.red-border {
  border: 1.5px solid $ERROR__COLOR !important;
}
.copy-btn {
  position: absolute !important;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  font-size: small;
  border-radius: 4px;
  margin: 0;
  background-color: $MAIN__BG__COLOR;
  color: $WHITE__COLOR;
  border-color: $WHITE__COLOR;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateX(20%);
  &.success {
    color: $SUCCESS__COLOR;
    border-color: $SUCCESS__COLOR;
  }
}

#output legend {
  padding: 0 0.5rem;
  text-transform: uppercase;
  color: $SUCCESS__COLOR;
}

#output #text-inp,
#output #text-out {
  height: auto;
  width: 100%;
  margin-top: 1.5rem;
}
#output #text-inp #text-inp-head,
#output #text-out #text-out-head {
  font-size: 22px;
  font-weight: bold;
}
#output #text-inp #text-inp-body,
#output #text-out #text-out-body {
  position: relative;
  width: 100%;
  min-height: 40px;
  padding: 1rem;
  margin: 0.5rem 0;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: $WHITE__COLOR;
  background-color: $PRIMARY__GREY__COLOR;
  transition: all ease 300ms;
}
#output #text-inp #text-inp-body {
  color: $MAIN__ACCENT__COLOR;
}
#output #text-out #text-out-body {
  color: $SUCCESS__COLOR;
}
#output #text-inp #text-inp-body:hover > .copy-btn,
#output #text-out #text-out-body:hover > .copy-btn {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.red-color {
  color: $ERROR__COLOR;
}

.header-main {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 4rem;
  height: auto;
  display: flex;
  align-items: center;
  background-color: $BLACK__COLOR;
  color: $WHITE__COLOR;
  z-index: 100;
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .hamburger {
      display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 40px;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.hero-main {
  position: relative;
  min-height: 75vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  & .animated-text {
    max-width: 550px;
    white-space: nowrap;
    user-select: none;
    background: $MAIN__BG__COLOR;
    & .glitch {
      color: $MAIN__ACCENT__COLOR;
      position: relative;
      font-size: 4em;
      padding: 0.25rem 0;
      animation: glitch 10s 5s infinite;
    }
    @media (prefers-reduced-motion: reduce) {
      & .glitch {
        animation: none;
      }
    }
    @media (max-width: 768px) {
      .glitch {
        font-size: 3.25em;
      }
      .subtitle {
        font-size: 0.75em;
      }
    }
    @media (max-width: 500px) {
      .glitch {
        font-size: 2.5em;
      }
    }

    & .glitch::before {
      content: attr(data-text);
      position: absolute;
      left: -2px;
      text-shadow: -0.095em 0 coral;
      background: $MAIN__BG__COLOR;
      overflow: hidden;
      top: 0;
      animation: noise-1 5s linear infinite alternate-reverse,
        glitch 10s 5.05s infinite;
    }

    & .glitch::after {
      content: attr(data-text);
      position: absolute;
      left: 2px;
      text-shadow: -0.095em 0 lightgreen;
      background: $MAIN__BG__COLOR;
      overflow: hidden;
      top: 0;
      animation: noise-2 5s linear infinite alternate-reverse,
        glitch 10s 5s infinite;
    }
    & .subtitle {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      font-size: 0.625em;
      color: rgba(165, 141, 141, 0.4);
      text-transform: uppercase;
      letter-spacing: 1em;
      line-height: 1.5;
      margin-top: 0.5rem;
      text-align: center;
      animation: glitch-2 5s 5.02s infinite,
        color-animation 2.5s infinite alternate linear;
      &::before {
        content: "\2014";
        animation: unset !important;
        color: $WHITE__COLOR;
      }
    }
  }
  & .cta-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    gap: 1rem;
    color: $WHITE__COLOR;
    & .btn {
      background: $MAIN__BG__COLOR;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      // font-size: 1.25rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      border-color: $MAIN__ACCENT__COLOR;
      letter-spacing: 0.1em;
      transition: all 0.3s ease;
      & i.bi {
        // color: $MAIN__ACCENT__COLOR;
        transition: all 0.3s ease;
      }
      &:hover {
        background: $MAIN__ACCENT__COLOR;
        border-color: $WHITE__COLOR;
      }
      &:hover > i.bi {
        color: $WHITE__COLOR;
      }
      &:hover > i.bi:not(.user-icon) {
        display: inline-block;
        transform: translateX(5px);
      }
    }
  }
  & .credits {
    position: fixed;
    bottom: 2rem;
    background-color: $MAIN__BG__COLOR;
    color: $WHITE__COLOR;
    font-size: 0.925rem;
    opacity: 0.75;
    & a {
      color: $MAIN__ACCENT__COLOR;
      opacity: 0.5;
      font-weight: bold;
      transition: all 0.3s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(10deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*calc(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*calc(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(10deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes color-animation {
  0% {
    color: $ERROR__COLOR;
  }

  20% {
    color: #ff8040;
  }

  40% {
    color: #ffff00;
  }

  60% {
    color: $SUCCESS__COLOR;
  }

  80% {
    color: $MAIN__ACCENT__COLOR;
  }

  100% {
    color: #8080ff;
  }
}

.login-popup-wrapper{
  background-color: rgba(0,0,0,0.85) !important;
  display: none;
  justify-content: center;
  align-items: flex-start;
  &.open{
      display: flex;
  }

  & .login-popup{
    position: relative;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 350px;
      width: 100%;
      max-height: 90vh;
      margin-block: 100px;
      border: 1px solid $WHITE__COLOR;
      box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
      // border-radius: 8px;
      background-color: $PRIMARY__GREY__COLOR;
      // overflow-y: scroll;
      transform: translateX(15%);
      opacity: 0;
      pointer-events: none;
      animation: slide-down 0.5s ease forwards;
      transition: all 0.5s ease 500ms;

      &::-webkit-scrollbar{
          display: none;
      }
      @keyframes slide-down {
          to{
              transform: translateX(0);
              opacity: 1;
              pointer-events: all;
          }
      }
      
      // &::before{
      //     content: "";
      //     position: relative;
      //     top: 0;
      //     left: 0;
      //     right: 0;
      //     width: 100%;
      //     height: 2px;
      //     padding-block: 6px;
      //     font-size: 14px;
      //     text-align: center;
      //     border-bottom: 1px solid gray;
      //     color: $WHITE__COLOR;
      //     background-color: $SECONDARY__GREY__COLOR;    
      // }
      & .popup-title{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: sticky;
          top: 0;
          left: 0;
          right: 0;
          z-index: 1;
          background-color: inherit;
          & .modal-close {
            position: absolute;
            right: -0.75rem;
            top: -0.75rem;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border: 1px solid $SECONDARY__GREY__COLOR;
            background-color: $black-sec;
          }
          & .tab{
              position: relative;
              flex: 1;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              font-size: 18px;
              font-weight: 500;
              color: $WHITE__COLOR;
              opacity: 0.625;
              padding-block: 6px;
              border-bottom: 1.5px solid $SECONDARY__GREY__COLOR;
              transition: all 0.3s ease;
              cursor: pointer;
              & i.fi{
                  font-size: smaller;
              }
              &:active{
                  transform: scale(0.95);
              }
              &.active{
                  color: $SUCCESS__COLOR;
                  opacity: 1;
                  background-color: $MAIN__BG__COLOR;
              }
          }
      }
      & .tab-view-wrap{
          width: 100%;
          overflow-x: hidden;
          padding-block: 20px;
          overflow-y: auto;
           & .tab-view{
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-inline: 8px;
              transition: all 0.3s ease;
           }
      }
  }
}

.not-found-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 1rem;
  margin-top: 2rem;
  & svg {
    display: block;
    width: 450px;
    height: auto;
    aspect-ratio: 1;
    // margin: 0 auto;
    & #main-404 {
      width: 100%;
      height: auto;
      & #bg {
        transform-origin: 50% 50%;
        animation: rotate 15s linear infinite;
      }
      & #astro {
        transform-origin: 50% 50%;
        animation: vibrate 2.5s ease infinite alternate;
      }
      & #num-0,
      & #num-4-sm,
      & #num-4-lg {
        color: $MAIN__ACCENT__COLOR;
        animation: danger-blink 2.5s ease infinite;
      }
    }
  }
  & .text-wrapper {
    position: relative;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.25rem 0.75rem;
    // margin: 0 auto;
    border-radius: 6px 6px 6px 0px;
    background-color: $PRIMARY__GREY__COLOR !important;
    color: white;
    line-height: 1.5;
    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 1.25rem;
      width: 0;
      height: 0;
      border: 1rem solid transparent;
      border-top: none;
      border-right: 1rem solid $PRIMARY__GREY__COLOR;
      clear: both;
    }
    & .text-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-block: 0.5rem;
      color: $ERROR__COLOR;
    }
    & .text-body {
      font-size: 1.125rem;
      margin-bottom: 0.5rem;
      color: $WHITE__COLOR;
      & .alien-sign {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.25rem;
        margin-block: 0.25rem;
        font-size: small;
        color: $MAIN__ACCENT__COLOR;
      }
    }
  }
}

.cta-button-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: max-content;
  background-color: $MAIN__BG__COLOR;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  text-align: center;
  & a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: larger;
    color: $WHITE__COLOR;
    &:hover {
      color: $SUCCESS__COLOR;
    }
  }
}

@media (max-width: 768px) {
  .not-found-wrapper {
    flex-direction: column;
  }
  .text-wrapper {
    width: 95% !important;
    &::before {
      right: unse !important;
      top: unset !important;
      bottom: 100%;
      left: 1.25rem;
      border-bottom: 1rem solid $PRIMARY__GREY__COLOR !important;
      border-right: 1rem solid transparent !important;
    }
  }
  .not-found-wrapper svg {
    width: 250px;
  }
}
@media (max-width: 400px) {
  .not-found-wrapper svg {
    width: 150px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes danger-blink {
  0% {
    opacity: 1;
    color: $ERROR__COLOR;
  }
  50% {
    opacity: 0;
    color: $MAIN__ACCENT__COLOR;
  }
  100% {
    opacity: 1;
    color: $ERROR__COLOR;
  }
}

.pre-loader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(000, 000, 000, 0.5);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.loader__spinner {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #1b1b1b;
  position: relative;
  overflow: hidden;
  animation: rotate 1.5s ease infinite;
  transition: all ease 300ms;
  border: 1px solid rgb(53, 108, 128);
}

.square-1,
.square-2,
.square-3,
.square-4 {
  height: 12.5px;
  width: 12.5px;
  position: absolute;
  animation: rotateTranslate 1.5s ease-in-out forwards infinite 1s;
  border-radius: 2px;
  transition: all ease 300ms;
}

.square-1 {
  left: 5px;
  top: 0;
  transform: rotate(100deg);
  background: rgb(255, 127, 80);
}
.square-2 {
  right: 5px;
  top: 0;
  transform: rotate(-100deg);
  background: darkkhaki;
}
.square-3 {
  right: 5px;
  bottom: 0;
  transform: rotate(100deg);
  background: darkslateblue;
}
.square-4 {
  left: 5px;
  bottom: 0;
  transform: rotate(-100deg);
  background: darkolivegreen;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateTranslate {
  0% {
    transform: rotate(0deg) translate(0);
  }
  50% {
    transform: rotate(360deg) translate(5px, -5px);
  }
  100% {
    transform: rotate(0deg) translate(0);
  }
}

@keyframes appearDisappear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader__text {
  color: lightblue;
  font-size: large;
}
.dot-1 {
  animation: appearDisappear 1s ease forwards infinite;
}
.dot-2 {
  animation: appearDisappear 1.5s ease forwards infinite;
}
.dot-3 {
  animation: appearDisappear 2s ease forwards infinite;
}

#scheme-select-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-block: 1rem;
  width: 100%;

  & .scheme-select-btn.selected,
  & .conversion-select-btn.selected {
    position: relative;
    color: $SUCCESS__COLOR;
    border: 1px solid $SUCCESS__COLOR !important;
    overflow: hidden;
    transition: all ease 300ms;
  }
  & .scheme-select-btn.selected::before,
  & .conversion-select-btn.selected::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: $SUCCESS__COLOR;
    /* box-shadow: 1px 1px 6px $SUCCESS__COLOR; */
    overflow: hidden;
    transition: all ease 300ms;
  }
}
.dyn-selected-scheme {
  margin-bottom: 1rem;
  & span {
    color: $SUCCESS__COLOR;
  }
}

.scheme-modal-res {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-block: auto;
  width: 100%;
  & .msg-res {
    font-weight: 600;
    color: $ERROR__COLOR;
  }
}

.all-schemes-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
  & fa-icon {
    color: $MAIN__ACCENT__COLOR;
    cursor: pointer;
    pointer-events: all;
    transition: all ease 300ms;
    &.open {
      color: $SUCCESS__COLOR;
      border-color: $SUCCESS__COLOR;
      &:hover {
        color: $SUCCESS__COLOR;
      }
    }
    &:hover {
      color: $WHITE__COLOR;
    }
  }
}
.search-scheme-form {
  margin-bottom: 1rem;
}


.nav-wrapper {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 999;
  //   background-color: rgba($color: #000000, $alpha: 0.5);
  &.open {
    display: block;
  }
  &.open .navbar-side {
    animation: slide-in 0.2s ease-in forwards;
    & .nav-title .nav-close {
      display: flex;
    }
    @keyframes slide-in {
      to {
        transform: translateX(0%);
        visibility: visible;
        pointer-events: all;
      }
    }
  }
  & .navbar-side {
    position: fixed;
    background-color: $BLACK__COLOR;
    width: 16.5rem;
    height: 100vh;
    transform: translateX(-100%);
    visibility: hidden;
    pointer-events: none;
    border-right: 1px solid $PRIMARY__GREY__COLOR;

    transition: all ease 0.3s;

    & .nav-title {
      position: relative;
      height: 4rem;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0.75rem;
      margin-bottom: 2rem;
      background-color: $BLACK__COLOR;
      border-bottom: 1px solid $PRIMARY__GREY__COLOR;
      & .nav-close {
        width: 1.5rem;
        height: 1.5rem;
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 1rem;
        color: $ERROR__COLOR;
        border: 0;
        background-color: transparent;
        transition: all ease 300ms;
        font-size: small;
      }
      & .nav-close:hover {
        transform:scale(1.5);
      }
    }
    & .nav-content {

      height: calc(100vh - 4rem);
      width: 100%;
      display: flex;
      align-items: flex-start;
      padding-bottom: 2.5rem;
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $BLACK__COLOR;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $MAIN__ACCENT__COLOR;
      }
      & .nav-links {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        & .nav-link {
          width: 100%;
          font-size: large;
          & a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1.025rem;
            padding: 0.75rem 1rem;
            background-color: transparent;
            color: $LIGHT__WHITE__COLOR;
            border-bottom: 2px solid transparent;
            transition: all ease 0.2s;
            & ion-icon {
              font-size: larger;
              transition: all ease 0.2s;
            }
            &:hover {
              background-color: $MAIN__BG__COLOR;
              color: $WHITE__COLOR;
              border-bottom: 2px solid $MAIN__ACCENT__COLOR;
              font-weight: bold;
              letter-spacing: 1px;
            }
            &:hover > ion-icon {
              margin-right: 1.5px;
              color: $WHITE__COLOR;
              transform: scale(1.125);
            }
            &.activePage {
              // background-color: $PRIMARY__GREY__COLOR;
              color: $SUCCESS__COLOR;
              border-bottom: 2px solid $SUCCESS__COLOR;
              font-weight: bold;
            }
            &.activePage > ion-icon {
              color: $WHITE__COLOR;
              transform: scale(1.125);
            }
          }
        }
      }
    }
  }
}

.spinner-wrapper {
  //   outline: 1px solid $MAIN__ACCENT__COLOR;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  & .spinner {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: transparent;
    position: relative;
    animation: rotate 1.5s infinite linear;
    transition: all ease 300ms;
    border: 1px solid $MAIN__ACCENT__COLOR;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background-color: $MAIN__ACCENT__COLOR;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes appearDisappear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dot-1 {
  animation: appearDisappear 1s ease forwards infinite;
}
.dot-2 {
  animation: appearDisappear 1.5s ease forwards infinite;
}
.dot-3 {
  animation: appearDisappear 2s ease forwards infinite;
}


// Hovers
.hover-accent:hover {
  @extend .text-accent;
  transition: all ease 300ms;
}
.hover-danger:hover {
  @extend .text-danger;
  transition: all ease 300ms;
}
.hover-primary:hover {
  @extend .text-primary;
  transition: all ease 300ms;
}
// Hovers end

// Transforms
.rotate-x-90 { 
  transform: rotateX(90deg);
  transition: all ease 300ms; 
}
.rotate-y-90 {
  transform: rotateY(90deg);
  transition: all ease 300ms; 
}
.rotate-x-180 { 
  transform: rotateX(180deg);
  transition: all ease 300ms; 
}
.rotate-y-180 {
  transform: rotateY(180deg);
  transition: all ease 300ms; 
}
// Transforms end

// responsive visibility
.desktop-visibility {
  display: inline-block !important;
}
.mobile-visibility {
  display: none !important;
}

@media (max-width:768px) {
  .mobile-visibility {
    display: block !important;
  }

  .desktop-visibility {
    display: none !important;
  }
}
// responsive visibility end