<div class="container">
  <div class="hero-main">
    <div class="animated-text">
      <div class="glitch" [attr.data-text]="animatedText">
        {{ animatedText }}
      </div>
      <div class="glow">
        {{ animatedText }}
      </div>
    </div>
    <p class="subtitle">NONSENSICAL TWEAKS</p>
    <small class="credits">
      animation by
      <a href="https://codepen.io/elisabethdiang" target="_blank">Elisabéth</a>
      &bull; modified by
      <a href="https:github.com/SyedAli310" target="_blank">syedali</a>
    </small>
  </div>
</div>
