<div class="container">
  <!-- scheme/mode selection -->
  <div class="d-flex justify-content-between mt-30 mb-40 gap-2 flex-wrap">
    <div class="d-flex align-items-center gap-2 border border-secondary rounded py-8 px-12" [@appearAnimation]>
      <ng-container *ngIf="conversionMethod === 'encode'">
        <p class="text-large text-slate mr-4">Scheme</p>
        <div class="position-relative d-flex align-items-center" title="{{selectedScheme.alias}}" *ngIf="!isSchemesLoading; else schemesLoading">
          <ng-select class="ng-select form-control d-flex align-items-center bg-dark pr-30 border-secondary text-accent"
            style="width: 175px;"
            [items]="schemes"
            [disabled]="schemes.length == 0"
            bindLabel="alias"
            bindValue="name"
            [closeOnSelect]="true"
            [clearable]="false"
            [multiple] = "false"  
            placeholder="search scheme"
            [(ngModel)]="selectedSchemeName"
            placeholder="search scheme"
            (change)="onSchemeChange($event)"
            #schemeNgSelect>
          </ng-select>
          <i class="bi bi-chevron-down position-absolute end-0 top-50 translate-middle text-slate cursor-pointer" (click)="openNgSelect(schemeNgSelect)"></i>
        </div>
      </ng-container>
      <ng-container *ngIf="conversionMethod !== 'encode'">
        <div class="text-small text-slate mr-4 d-flex align-items-center gap-2" ngbTooltip="While decoding the cipher, the scheme is auto detected adn applied" placement="right">
          <i class="bi bi-info-circle text-small"></i>
          <p>Auto scheme detection</p>
        </div>
      </ng-container>
    </div>
    <div class="d-flex align-items-center gap-2 border border-secondary rounded py-8 px-12 overflow-hidden " [@appearAnimation]>
      <p class="text-large text-slate mr-4">Mode</p>
      <div class="d-flex align-items-center gap-2">
        <a class="btn btn-sm py-8 bg-dark px-16" conversion="encode" routerLink="/encode" routerLinkActive="text-accent border-accent" ngbTooltip="{{conversionMethod !== 'encode' ? 'switch to encoding' : ''}}" placement="bottom">
          encode
        </a>
        <a class="btn btn-sm py-8 bg-dark px-16" conversion="decode" routerLink="/decode" routerLinkActive="text-accent border-accent" ngbTooltip="{{conversionMethod !== 'decode' ? 'switch to decoding' : ''}}" placement="bottom">
          decode
        </a>
      </div>
    </div>
  </div>

  <!-- input view -->
  <form id="main-form" [formGroup]="mainConversionForm" (ngSubmit)="handleSubmit(output_loader)">
    <fieldset class="input-div">
      <legend>
        <span id="dyn-legend-method">{{ conversionMethod }}</span>
        <span style="color: white" id="dyn-inp-div-scheme">
          {{
          conversionMethod === "decode" ? "" : " / " + selectedScheme.alias
          }}</span>
      </legend>
      <input id="input-text" name="input-text" formControlName="inputText" placeholder="enter {{
          conversionMethod === 'encode' ? 'string' : 'cipher'
        }} to {{ conversionMethod }}" autocomplete="off" />

      <button type="submit" class="d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-right text-small"></i>
      </button>
    </fieldset>
  </form>

  <!-- iutput view -->
  <fieldset id="output" [class.red-border]="hasError">
    <div class="loader" [class.d-none]="!isLoading" #output_loader>
      <app-spinner [text]="'converting'"></app-spinner>
    </div>
    <button class="btn btn-md output-reset-btn" (click)="resetOutput($event)">
      reset
    </button>
    <legend>
      output
      <span style="color: white" id="dyn-legend-scheme" *ngIf="conversionOutput.schemeUsed || hasError">
        {{
        hasError
        ? " / Error"
        : conversionOutput
        ? "/ " + conversionOutput.schemeUsed.alias
        : ""
        }}
      </span>
    </legend>
    <div id="text-inp">
      <h3 id="text-inp-head">Input</h3>
      <div id="text-inp-body">
        <span>{{
          conversionMethod === "encode"
          ? conversionOutput.text
          : conversionOutput.code
          }}</span>
        <button #cpy_btn class="btn btn-sm copy-btn text-small" title="copy" *ngIf="conversionOutput.text || conversionOutput.code"
          (click)="
            copyToClipboard(
              conversionOutput.text || conversionOutput.code,
              cpy_btn
            )
          ">
          copy
        </button>
      </div>
    </div>
    <div id="text-out">
      <h3 id="text-out-head">Result</h3>
      <div id="text-out-body">
        <span [class.red-color]="hasError">
          {{
          conversionMethod === "encode"
          ? conversionOutput.encoded
          : conversionOutput.decoded
          }}
        </span>
        <button #cpy_btn class="btn btn-sm copy-btn text-small" title="copy"
          *ngIf="conversionOutput.encoded || conversionOutput.decoded" (click)="
            copyToClipboard(
              conversionOutput.encoded || conversionOutput.decoded,
              cpy_btn
            )
          ">
          copy
        </button>
      </div>
    </div>
  </fieldset>
</div>

<ng-template #schemesLoading>
  <ngx-skeleton-loader appearance="line" animation="pulse" [theme]="{'background-color': 'grey', 'width': '175px', 'margin': '0px'}" count="1">
  </ngx-skeleton-loader>
</ng-template>

<ng-template #noSchemesTemplate>
  <div class="w-100 d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div class="text-center">
      <i class="bi bi-exclamation-octagon text-danger mb-16 d-inline-block text-x-large"></i>
      <p class="text-large mb-8">There are no schemes configured in the system yet.</p>
      <p class="text-secondary-light text-small">If you are an admin, you can add schemes from <a routerLink="/admin" target="_blank" class="text-primary on-hover-underline">here</a></p>
    </div>
  </div>
</ng-template>