@import "../../../scss-partials/variables";

.not-found-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 1rem;
  margin-top: 2rem;
  & svg {
    display: block;
    width: 350px;
    height: auto;
    aspect-ratio: 1;
    // margin: 0 auto;
    & #main-404 {
      width: 100%;
      height: auto;
      & #bg {
        transform-origin: 50% 50%;
        animation: rotate 15s linear infinite;
      }
      & #astro {
        transform-origin: 50% 50%;
        animation: vibrate 2.5s ease infinite alternate;
      }
      & #num-0,
      & #num-4-sm,
      & #num-4-lg {
        color: $MAIN__ACCENT__COLOR;
        animation: danger-blink 2.5s ease infinite;
      }
    }
  }
  & .text-wrapper {
    position: relative;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.25rem 0.75rem;
    // margin: 0 auto;
    border-radius: 6px;
    background-color: $PRIMARY__GREY__COLOR !important;
    color: white;
    line-height: 1.5;
    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 1.25rem;
      width: 0;
      height: 0;
      border: 1rem solid transparent;
      border-top: none;
      border-right: 1rem solid $PRIMARY__GREY__COLOR;
      clear: both;
    }
    & .text-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-block: 0.5rem;
      color: $ERROR__COLOR;
    }
    & .text-body {
      font-size: 1.125rem;
      margin-bottom: 0.5rem;
      color: $WHITE__COLOR;
      & .alien-sign {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.25rem;
        margin-block: 0.25rem;
        font-size: small;
        color: $MAIN__ACCENT__COLOR;
      }
    }
  }
}

.cta-button-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: max-content;
  background-color: $MAIN__BG__COLOR;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  text-align: center;
  & a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: larger;
    color: $WHITE__COLOR;
    &:hover {
      color: $SUCCESS__COLOR;
    }
  }
}

@media (max-width: 768px) {
  .not-found-wrapper {
    flex-direction: column;
  }
  .text-wrapper {
    width: 95% !important;
    &::before {
      right: unse !important;
      top: unset !important;
      bottom: 100%;
      left: 1.25rem;
      border-bottom: 1rem solid $PRIMARY__GREY__COLOR !important;
      border-right: 1rem solid transparent !important;
    }
  }
  .not-found-wrapper svg {
    width: 250px;
  }
}
@media (max-width: 400px) {
  .not-found-wrapper svg {
    width: 150px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes danger-blink {
  0% {
    opacity: 1;
    color: $ERROR__COLOR;
  }
  50% {
    opacity: 0;
    color: $MAIN__ACCENT__COLOR;
  }
  100% {
    opacity: 1;
    color: $ERROR__COLOR;
  }
}
