<div class="container mt-40">
    <div class="mb-12">
        <h3 class="d-flex align-items-start gap-2">
            <span>Schemes</span>
            <span class="tag tag-black text-secondary-light" *ngIf="schemeData"
                ngbTooltip="{{schemeData.schemes_count}} schemes added" placement="right">{{schemeData?.schemes_count}}
            </span>
        </h3>
    </div>
    <p class="text-secondary-light mb-30" *ngIf="schemeData; else loaderTemplateBlock">{{schemeData?.info || schemeInfo}}</p>

    <div class="d-flex align-items-center justify-content-between mb-40">
        <input type="search" class="form-control bg-black-sec py-8 text-light" placeholder="search scheme alias or name" [(ngModel)]="searchQuery" (input)="searchSchemes()" style="width: 300px;">
        <div class="btn-group">
            <button class="btn btn-outline-secondary mb-0" ngbTooltip="List view" container="body" (click)="setLayoutView(layoutView.LIST)" [ngClass]="{'text-accent bg-black-sec': currentLayoutView === layoutView.LIST, 'bg-black-sec': currentLayoutView !== layoutView.LIST}">
                <i class="bi bi-list"></i>
            </button>
            <button class="btn btn-outline-secondary mb-0" ngbTooltip="Grid view" container="body" (click)="setLayoutView(layoutView.GRID)" [ngClass]="{'text-accent bg-black-sec': currentLayoutView === layoutView.GRID, 'bg-black-sec': currentLayoutView !== layoutView.GRID}">
            <i class="bi bi-grid"></i>
            </button>
        </div>
    </div>

    <ng-container *ngIf="currentLayoutView === layoutView.LIST" [@appearAnimation]>
        <div class="my-20">
            <ng-container *ngIf="schemeData; else loaderTemplateCards">
                <div class="mb-30" *ngFor="let scheme of searchedSchemes" [@slideInAnimation]>
                    <div class="border-bottom pb-10 mb-10 d-flex align-items-center justify-content-between gap-2 flex-wrap">
                        <h5 class="text-white mb-8">{{scheme.alias}}</h5>
                        <p class="text-white-light text-small">added {{getSince(scheme.createdAt)}}</p>
                        <!-- <p class="text-white-light text-small">added by {{scheme.createdByName}}</p> -->
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="currentLayoutView === layoutView.GRID" [@appearAnimation]>
        <div class="grid-masonry my-20">
            <ng-container *ngIf="schemeData; else loaderTemplateCards">
                <div class="masonry-item mb-30" *ngFor="let scheme of searchedSchemes" [@slideInAnimation]>
                    <div class="masonry-item-inner">
                        <div class="card m-0">
                            <div class="card-body">
                                <h5 class="text-white mb-8">{{scheme.alias}}</h5>
                                <p class="text-white-light text-small">added {{getSince(scheme.createdAt)}}</p>
                                <!-- <p class="text-white-light text-small">added by {{scheme.createdByName}}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
<ng-template #loaderTemplateCards>
    <div class="masonry-item mb-30" [@slideInAnimation]>
        <div class="masonry-item-inner">
            <div class="card m-0">
                <div class="card-body">
                    <ngx-skeleton-loader appearance="line" animation="pulse" [theme]="{'background-color': '#1b1b1b'}"
                        count="2">
                    </ngx-skeleton-loader>
                </div>
            </div>
        </div>
    </div>
    <div class="masonry-item mb-30" [@slideInAnimation]>
        <div class="masonry-item-inner">
            <div class="card m-0">
                <div class="card-body">
                    <ngx-skeleton-loader appearance="line" animation="pulse" [theme]="{'background-color': '#1b1b1b'}"
                        count="2">
                    </ngx-skeleton-loader>
                </div>
            </div>
        </div>
    </div>
    <div class="masonry-item mb-30" [@slideInAnimation]>
        <div class="masonry-item-inner">
            <div class="card m-0">
                <div class="card-body">
                    <ngx-skeleton-loader appearance="line" animation="pulse" [theme]="{'background-color': '#1b1b1b'}"
                        count="2">
                    </ngx-skeleton-loader>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #loaderTemplateBlock>
    <ngx-skeleton-loader appearance="line" animation="pulse" [theme]="{'background-color': '#242424'}" count="1">
    </ngx-skeleton-loader>
</ng-template>