<div class="modal schemes-modal" [class.open]="isOpen">
  <div class="modal-content">
    <button class="modal-close-btn" (click)="closeModal()">
      <fa-icon class="icon-lg" [icon]="faTimes"></fa-icon>
    </button>
    <div class="modal-header">
      <h2>Select scheme to encode/decode</h2>
    </div>
    <div class="modal-body">
      <p class="dyn-selected-scheme">
        Selected :
        <span>{{ selectedScheme.alias || "none" }}</span>
      </p>
      <div class="all-schemes-title">
        <p>All Schemes</p>
        <fa-icon [icon]="faSearch" (click)="toggleSearchForm()"></fa-icon>
      </div>
      <form
        [formGroup]="searchSchemeForm"
        class="search-scheme-form"
        (ngSubmit)="searchScheme()"
        *ngIf="isSearchSchemeFormVisible"
      >
        <fieldset class="input-div">
          <legend>Search scheme</legend>
          <input
            formControlName="search"
            type="search"
            name="searchScheme"
            id="searchScheme"
            (input)="searchScheme()"
            autocomplete="off"
          />
        </fieldset>
      </form>
      <div
        id="scheme-select-btns"
        *ngIf="schemes.length > 0; else other_content"
      >
        <button
          *ngFor="let scheme of schemes"
          class="btn scheme-select-btn"
          [ngClass]="{
            selected:
              scheme === selectedScheme || scheme.alias === selectedScheme.alias
          }"
          (click)="selectScheme(scheme)"
        >
          {{ scheme.alias }}
        </button>
      </div>
      <ng-template #other_content>
        <div class="scheme-modal-res">
          <p class="msg-res" #failed_scheme_load>Failed to load schemes</p>
          <button class="btn btn-sm" (click)="fetchSchemes(failed_scheme_load)">
            try again
          </button>
        </div>
      </ng-template>
    </div>
    <div class="modal-footer">
      <button class="btn modal-close-btn" (click)="closeModal()">
        save & close
      </button>
    </div>
  </div>
</div>
