<div class="header-main">
  <div class="container">
    <div class="hamburger" (click)="openSideNav()">
      <ion-icon name="menu-outline"></ion-icon>
    </div>
    <div class="logo">
      <a href="/" class="anchor-reset">
        <img src="../../../assets/favicon.png" class="logo-img" alt="logo" />
        <span>cipherbay</span>
      </a>
    </div>
    <div class="mode-toggle">
      <button class="btn btn-md color-mode-toggle-btn">
        <ion-icon name="caret-down-outline"></ion-icon>
      </button>
    </div>
  </div>
</div>

<app-side-navbar
  [isSidebarOpen]="isSidebarOpen"
  (closeSidebarEvent)="closeSideNav()"
></app-side-navbar>
