@import "../../../scss-partials/variables";

.header-main {
  width: 100%;
  min-height: 4rem;
  height: auto;
  display: flex;
  align-items: center;
  background-color: $BLACK__COLOR;
  color: $WHITE__COLOR;
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .hamburger {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      & fa-icon {
        color: $WHITE__COLOR;
        transition: all ease 0.3s;
      }
      &:hover > fa-icon {
        color: $MAIN__ACCENT__COLOR;
      }
    }
  }
}
