<div class="header-main">
  <div class="container">
    <button class="btn btn-md hamburger" (click)="openSideNav()">
      <fa-icon class="icon-lg" [icon]="hamburger"></fa-icon>
    </button>
    <div class="logo">
      <a href="/" class="anchor-reset">
        <img src="../../../assets/favicon.png" class="logo-img" alt="logo" />
        <span>cipherbay</span>
      </a>
    </div>
    <div class="mode-toggle">
      <button
        #dropdownToggle
        class="btn btn-md dropdown-toggle-btn"
        (click)="toggleDropdown()"
      >
        <fa-icon class="icon-lg" [icon]="caretDown"></fa-icon>
      </button>
      <div
        class="dropdown-wrapper"
        [class.open]="isDropdownOpen"
        #dropdownWraper
      >
        <div class="dropdown header-dropdown">
          <ul>
            <li>
              <a
                class="anchor-reset"
                href="https://github.com/SyedAli310/cipherbay-frontend-angular"
                target="_blank"
                >github repo</a
              >
            </li>
            <li>
              <a
                class="anchor-reset"
                href="https://github.com/SyedAli310/cipher-bay-api"
                target="_blank"
                >API github repo</a
              >
            </li>
            <li>
              <a class="anchor-reset" href="https://czuar.me" target="_blank"
                >dev Portfolio
              </a>
            </li>

            <div class="btns">
              <button class="btn btn-md">
                <a class="anchor-reset" (click)="onLoginClick()">
                  login / join
                </a>
              </button>
            </div>
          </ul>
          <small><i style="color: grey">this is demo content</i></small>
        </div>
      </div>
    </div>
  </div>
</div>

<app-side-navbar
  [isSidebarOpen]="isSidebarOpen"
  (closeSidebarEvent)="closeSideNav()"
></app-side-navbar>
