$delay: 0.5s;
$MAIN__BG__COLOR: #1b1b1b;
$MAIN__ACCENT__COLOR: #4169e1;
$SECONDARY__GREY__COLOR: #404040;
$PRIMARY__GREY__COLOR: #353535;
$SUCCESS__COLOR: #48c78e;
$ERROR__COLOR: #f44336;
$WHITE__COLOR: #fff;
$LIGHT__WHITE__COLOR: #dfdfdf;
$BLACK__COLOR: #000;
