<div class="login-popup-wrapper fix-full-screen" [class.open]="isOpen">
  <div class="login-popup">
    <div class="popup-title">
      <div class="tab login-tab border-right border-secondary"
        [class.active]="currentViewedTab === loginRegisterView.Login" (click)="activateTab(loginRegisterView.Login)">
        <i class="bi bi-person"></i> login
      </div>
      <div class="tab join-tab" [class.active]="currentViewedTab === loginRegisterView.Register"
        (click)="activateTab(loginRegisterView.Register)">
        <i class="bi bi-person-add"></i> join
      </div>
      <button class="modal-close" (click)="close($event)">
        <i class="bi bi-x text-danger"></i>
      </button>
    </div>

    <div class="tab-view-wrap" [attr.data-viewed]="currentViewedTab">
      <div class="tab-view" *ngIf="currentViewedTab === loginRegisterView.Login" [@slideInXAnimation]>
        <app-user-login></app-user-login>
      </div>
      <div class="tab-view" *ngIf="currentViewedTab === loginRegisterView.Register" [@slideOutXAnimation]>
        <app-user-register></app-user-register>
      </div>
    </div>
  </div>
</div>